* {
    box-sizing: border-box;
}
header,footer {
    background-color: gray;
    border: 1px solid black;
    height: 100px;
    clear: both;
}
section {
    height: 300px;
    border: 1px solid black;
    background-color: gray;
    float: left;
    width: 20%; /*you were not getting the desired output because you used 20px instead of 20%.
    css or html might not throw an error. so you gotta dig out what the problem is.*/
}
#second {
    width: 40%;
}
