body {
    background-color: rgb(113, 214, 214);
    color: white;
    border: 5px solid green;
    margin: 40px;
    padding: 40px;
    box-sizing: border-box;
}
li {
    list-style-type: none;
    display: inline; 
    font-size: 20px;
    color: green;
    padding: 3px;
    text-decoration: underline;
}
header, footer {
    text-align: center;
    clear: both;
}
.img{
    width: 35%;
    float: right
}
.main {
    float: left;
    width: 65%;
}
#white {
    color: white;
    border-right: 2px solid black
}
#twitter {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
